body {
	font-family: Verdana;
	font-size: 20px;
	color: #FFCB9A;
	background-color: #2C3531;
}
header{
	clear: both;
	background-color: #D1E8E2;
	margin: 20px;
    padding: 20px;
}
#menu-outer{
	height: 84px;
	display: inline-block;
}
.table{
	display: table;
	margin: 0 auto;
}
ul#horizontal-list {
	min-width : 696 px;
	list-style: none;
}
ul#horizontal-list li{
	display: inline;
}
article img{
	border-radius: 50%
}