body {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #FFCB9A;
	background-color: #2C3531;
}
#Chain-Reaction{
	clear: both;
	padding: 20px;
}
#Chain-Reaction a:visited{
	text-decoration: none;
	color: #FFCB9A;
}

#Chain-Reaction img{
	float: left;
}
#Chain-Reaction p{
	margin-left:20x;
	text-align:center;
}
#Golf-League {
	clear: both;
	padding: 20px;
}
#Golf-League img{
	float: left;
}
#Golf-League p{
	text-align:center;
}
#Golf-League a:visited{
	color: #FFCB9A;
}
header{
	clear: both;
	background-color: #D1E8E2;
	margin: 20px;
    padding: 20px;
}
#menu-outer{
	height: 84px;
	display: inline-block;
}
.table{
	display: table;
	margin: 0 auto;
}
ul#horizontal-list {
	min-width : 696 px;
	list-style: none;
}
ul#horizontal-list li{
	display: inline;
}
