body {
	font-family: Verdana;
	font-size: 20px;
	color: #D1E8E2;
	background-color: #2C3531;
}
h1 {
	color: #FFCB9A;
	background-color: #116466;
}

#header {
    clear: both;
	background-color: #D1E8E2;
	margin: 20px;
    padding: 20px;
	/*border: 10px #D9B08C solid;*/
}

#menu-outer{
	height: 84px;
	display: inline-block;
}
.table{
	display: table;
	margin: 0 auto;
}
ul#horizontal-list {
	min-width : 696 px;
	list-style: none;
}
ul#horizontal-list li{
	display: inline;
}